body{
	margin: 0;
	padding: 0;
}
header .head{
	width: 100%;
}
header .head img{
	width: 100%;
}
header .qb,header .lb{
	position: relative;
	top: -5px;
}
header .qb{
	background-color: red;
	padding-left: 5%;
}
header .qb img{
	width: 15%;
}
#qb{
	display: none;
}
#qb div{
	border-bottom: 1px solid gray;
	padding-left: 5%;
}

#qb div a{
	text-decoration: none;
	color: black;
	font-size: 32px;
	margin: 10px;
}
header .lb{
	width: 100%;
}
header .lb img{
	width: 100%;
	height: 200px;
}
article{
	width: 100%;
	margin-top: 10px;
}
article .yw{
	margin: 0 5%;
}
article .yw .yw_head{
	display: flex;
	border-bottom: 3px solid deepskyblue;
}
article .yw .yw_head img{
	width: 45%;
	height: 50px;
}
 .yw_head div{
	height: 50px;
	margin-left: 5%;
	font-size: 32px;
	line-height: 50px;
}
article .yw .yw_text div{
	width: 100%;
	paddingb: 10px;
	border-bottom: 1px solid gray;
}
article .yw .yw_text div a{
	text-decoration: none;
	color: black;
	font-size: 24px;
	margin: 10px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
footer div{
	width: 100%;
}
footer div img{
	width: 100%;
}
